body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
p {
  color: gray;
  font-family: "Montserrat", sans-serif;
}
.top-banner {
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 5)),
    url(../images/hero.png);
  background-repeat: no-repeat;

  background-size: cover;
  background-position: center;
  height: 100vh;
}

.banner-background {
  color: white;
  padding: 15%;
}
.banner-background p {
  width: 40%;
  margin: auto;
  margin: 4% auto;
  color: white;
  line-height: 25px;
}
h1 {
  font-size: 3rem;
  margin: 0px;
}
h2 {
  font-size: 2.1rem;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 0;
}

.orange {
  color: tomato;
}
.green {
  color: green;
}
.heading-text p {
  width: 30%;
  color: white;
  text-align: justify;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 1%;
}
.donate-button {
  text-decoration: none;
  font-weight: 700;
  background-color: tomato;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}

section {
  margin: auto;
}

.donate-area {
  margin-top: 80px;
}
.donate-area p {
  width: 45%;
  margin: auto;
  margin-bottom: 2%;
}

.flexible-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.amount {
  margin: 1%;
  width: 4%;

  background-color: lightgray;
  padding: 3%;
  border-radius: 3%;
  font-weight: 700;
}
.amount:hover {
  border: 2px solid tomato;
  background: #f3ccc4;
  color: tomato;
}
.amount-input input {
  width: 57%;
  margin: auto;
  display: block;
  margin: 3% auto;
  border: none;
  outline: none;
  text-align: center;
  border-bottom: 2px solid gray;
  padding: 0.5%;
  font-weight: 700;
}
.donate-plans {
  width: 70%;
  margin: auto;
}
.common-width {
  width: 75%;
  margin-left: 2%;
  text-align: left;
  margin-top: 2%;
  padding: 5% 2% 2%;
}
.common-width2 {
  width: 50%;
  text-align: left;
  padding-left: 2%;
  margin-top: 5%;
}
#your-donation {
  padding-top: 10%;
}
#your-donation p {
  margin-bottom: 10%;
}
.common-width2 img {
  width: 100%;
}
#food-color {
  background-color: #eaf6f6;
}
#family-color {
  background-color: #f3ccc4;
}
#education-color {
  background-color: #fef9a7;
}
.how-to-donate {
  width: 70%;
  margin: auto;
}
.bottom-sectioin {
  margin-top: 5%;
  margin: 3%;
}
.bottom-sectioin p {
  width: 35%;
  margin: auto;
  text-align: center;
  margin-bottom: 3%;
}
.example {
  width: 40%;
  margin: auto;
  background-color: #fef9a7;
  padding: 3%;
}
form input {
  width: 25%;
  padding: 2%;
  border: none;
  background-color: rgb(205, 201, 201);
  font-size: 1rem;
  font-weight: bold;
}
form button {
  width: 20%;
  padding: 2%;
  border: none;
  background-color: rgb(205, 201, 201);
  font-size: 1rem;
  font-weight: bold;
  background-color: tomato;
  margin: -10px;
}
footer {
  background-color: black;
  padding: 2%;
  text-align: center;
}
.be-humble {
  font-family: "Satisfy", cursive;
  color: tomato;
}
