body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
p {
  color: gray;
  font-family: "Montserrat", sans-serif;
}
header {
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  margin: auto;
  width: 100%;
}
.image {
  background-image: url(../images/Rectangle.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 100%;
  margin: auto;
}
.heading-text {
  color: white;
  padding: 100px;
}
h1 {
  font-size: 3rem;
  margin: 0px;
}
h2 {
  font-size: 2.1rem;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 0;
}

.orange {
  color: tomato;
}
.green {
  color: green;
}
.heading-text p {
  width: 30%;
  color: white;
  text-align: justify;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 1%;
}
.donate-button {
  text-decoration: none;
  font-weight: 700;
  background-color: tomato;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}

section {
  margin: auto;
}

.donate-area {
  margin-top: 80px;
}
.donate-area p {
  width: 35%;
  margin: auto;
  margin-bottom: 2%;
}

.flexible-content {
  display: flex;
}

.amount-content {
  margin-left: 30%;
  margin-right: 30%;
}

.amount {
  margin: auto;
  background-color: rgba(173, 170, 170, 0.202);
  color: gray;
  width: 10%;
  font-size: 1rem;
  font-weight: bold;
  padding: 4%;
  box-shadow: 1px 1px 5px rgb(205, 201, 201);
  border-radius: 5%;
}
.amount-content h1:hover {
  border: 2px solid tomato;
  background: #f3ccc4;
  color: tomato;
}
.input-donate {
  border: none;
  border-bottom: 2px solid gray;
  text-align: center;
  margin-top: 4%;
}
.donate-plans {
  width: 70%;
  margin: auto;
}
.common-width {
  width: 75%;
  margin-left: 2%;
  text-align: left;
  margin-top: 2%;
  padding: 5% 2% 2%;
}
.common-width2 {
  width: 50%;
  text-align: left;
  padding-left: 2%;
  margin-top: 5%;
}
#your-donation {
  padding-top: 10%;
}
#your-donation p {
  margin-bottom: 10%;
}
.common-width2 img {
  width: 100%;
}
#food-color {
  background-color: #eaf6f6;
}
#family-color {
  background-color: #f3ccc4;
}
#education-color {
  background-color: #fef9a7;
}
.how-to-donate {
  width: 70%;
  margin: auto;
}
.bottom-sectioin {
  margin-top: 5%;
  margin: 3%;
}
.bottom-sectioin p {
  width: 35%;
  margin: auto;
  text-align: center;
  margin-bottom: 3%;
}
.example {
  width: 40%;
  margin: auto;
  background-color: #fef9a7;
  padding: 3%;
}
form input {
  width: 25%;
  padding: 2%;
  border: none;
  background-color: rgb(205, 201, 201);
  font-size: 1rem;
  font-weight: bold;
}
form button {
  width: 15%;
  padding: 2%;
  border: none;
  background-color: rgb(205, 201, 201);
  font-size: 1rem;
  font-weight: bold;
  background-color: tomato;
}
footer {
  background-color: black;
  padding: 2%;
  text-align: center;
}
.be-humble {
  font-family: "Satisfy", cursive;
  color: tomato;
}
